[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = US
ST = State
L = City
O = Organization
OU = IT
CN = *.sbx.<your-domain>

[v3_req]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.<your-domain>
DNS.2 = *.sbx.<your-domain>
DNS.3 = *.sys.sbx.<your-domain>
DNS.4 = *.apps.sbx.<your-domain>
DNS.5 = *.uaa.sys.sbx.<your-domain>
DNS.6 = *.login.sys.sbx.<your-domain>
DNS.7 = opsmgr-sbx.<your-domain>
